<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style=" text-align: center; margin-top: 4cm; background-image: url(/images/1.jpg); background-size:100% 370%; background-repeat: no-repeat; ">
    <div class="box">
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:snow; ">Main Menu</h1>
     
     <ul>
        <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:snow; ">-->Hyperlinks to all the fuctions<--</h2><br>
        <a href="/" target="_blank"> <li style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:snow; font-size: 18px;">Regiter Candidate</li></a><br>
        <a href="/users/" target="_blank"> <li style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:snow;font-size: 18px;" ">Voting</li></a><br>
        <a href="/Result" target="_blank"><li style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:snow;font-size: 18px;" ">Poll Report & Voting Summary</li ></a><br>
    </ul>  
    <ul>
       
       
        
    </ul>  
    </div> 
  </body>
</html>